{% extends 'chunks/base.twig' %}

{% block chunk_content %}

  {% if chunk.section_heading %}
    <h3>{{chunk.section_heading}}</h3>
  {% endif %}

  {% if chunk.section_text %}
    {{chunk.section_text|wpautop}}
  {% endif %}

  {% for id in chunk.items %}
    {% set item = TimberPost(id) %}
    {% set img = TimberImage(item.thumbnail) %}

    {{item.title}}
    {{item.excerpt}}
    <!-- This would be your SVG uploaded as a featured image: -->
    {{img.src}}
  {% endfor %}

{% endblock %}
