{% extends "chunks/base.twig" %}

{% block content %}

	{% set type = chunk.list_type %}
	{% set display = chunk.list_display %}

	{% if chunk.list_title %}
		<h4 class="list-title">{{chunk.list_title}}</h4>
	{% endif %}

	{% if chunk.list_description %}
		<p class="list-description">{{chunk.list_description}}</p>
	{% endif %}

	<ul class="chunk_list-list list--{{display}} list--{{type}}">

		{% for item in chunk.list_type_freeform %}
			<li class="list-item--{{type}}">
				<h5 class="list-item-title">{{item.item_title}}</h5>
				<div class="list-item-desc">
					{{item.item_description}}
				</div>
				{% if display == 'major' %}
					{{item.item_image}}
				{% endif %}
			</li>
		{% endfor %}

		{% for post in chunk.list_type_connected_content %}
			<li>
				{% include 'teases/_tease-' ~ post.post_type ~ '.twig' %}
			</li>
		{% endfor %}

	</ul> <!-- /.list-{{display}} -->

{% endblock %}
