{% block html_head %}
		{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
		</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" id="pageTop">
		<div class="visually-hidden">
			{% include 'utility/svg-defs.svg' %}
		</div>

		{% if callout_tf %}
			<div class="callout-bar">
				<div class="wrapper">
					{{callout_text|wpautop}}
				</div>
			</div>
		{% endif %}

		<div class="contain-md">
				<header class="site-header" role="banner">
					{% block header %}
						{% include 'headers/site_header.twig' %}
					{% endblock %}
				</header>
		</div><!--./header-wrapper-->

		<main id="content" class="site-main" role="main">

			<div class="main-content {{sidebar_class}}">
				{% block header_content %}{% endblock %}
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% block footer_content %}{% endblock %}
			</div>

			{% if sidebar %}
				<aside class="site-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}

		</main>

		<div class="contain-md">
			<footer id="footer" class="site-footer" role="contentinfo">
				{% block footer %}
					{% include 'footers/footer.twig' %}
					{{footer_widgets}}
				</div>
			{% endblock %}
		</footer>

		<div class="site-disclosure">
			<div class="contain-sm">
				{% include 'site-options/site-disclosure.twig' %}
				<p>&copy; {{"now"|date('Y')}} {{copyright}}. All Rights Reserved.</p>
			</div>
		</div>
		{{ function('wp_footer') }}
	</body>
</html>
