{% extends "base.twig" %}

{% block content %}
<div class="contain-sm">
	<div class="left-bio">
		<div class="thumb-container">
			<div class="thumb-img-wrap">
				{% include 'blocks/srcset.twig' with { id: post.thumbnail.id } %}
			</div>
			<p><strong>{{post.member_name}}</strong></p>
			<p>{{post.member_position}}</p>
		</div>
	</div>

	<div class="right-bio">
		<h3>Contact Information</h3>
		<div class="map">
				{{post.member_address}}
		</div>

Toll Free: 800.234.2323
		<p>Office Phone: <a title="Office Phone" href="tel:{{post.member_office_phone}}">{{post.member_office_phone}}</a></p>
		<p>Mobile Phone: <a title="Mobile Phone" href="tel:{{post.member_mobile_phone}}">{{post.member_mobile_phone}}</a></p>
		<p>Fax: <a title="Fax" href="tel:{{post.member_fax}}">{{post.member_fax}}</a></p>
		<p>Email: <a title="Email" href="mailto:{{post.member_email}}">{{post.member_email}}</a></p>
		<p><a title="LinkedIn" href="{{post.member_linkedin}}">LinkedIn</a></p>
		<p>{{post.member_brokercheck_notice}}</p>
		<h3>Biography</h3>
		<p>{{post.member_bio}}</p>
	</div>
</div>
{% endblock %}
